.movie-info{
    margin-top: 50px;
    display:flex;
    justify-content:center; 
}


.movie-poster img {
    position:relative;
    padding-top:5%;
    width: 80%;
    height: 100%;
    
}



.movie-container  { 
    margin-bottom: 8rem; 
    display: flex; 
    flex-basis: 30%; 
    width: 320px;
    height: 400px;
    background: #fff; 
    box-shadow: 4px 4px 14px 0px #cacaca; 
} 

.movie-title {
    font-weight: 900;
    background: linear-gradient(to right top, #2c9fbc,#c9418c);
    color: transparent;
    background-clip: text;
}


