body {
  background:#2c2c2c;
  font-family:"Raleway";
}
  .form {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:250px;
    padding:10px;
  }
  .form .form-header {
    height:30px;
    display:flex;
    align-items:center;
    text-align:center;
  }
  .form .form-header > div {
    width:calc(100% / 3);
    color:#ddd;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
  }
  .form.signup .form-header div.show-signup {
    color:#f1575b;
  }
  .form.signin .form-header div.show-signin {
    color:#f1575b;
  }
  .form.reset .form-header div.show-reset {
    color:#f1575b;
  }
  .form .form-elements {
    margin-top:15px;
  }
  .form .form-elements .form-element {
    height:50px;
    opacity:1;
    overflow:hidden;
    transition:all 500ms ease-in-out;
  }
  